---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import LinkedInIcon from '../icons/LinkedIn.astro';
import MailIcon from '../icons/Mail.astro';
import SocialPils from '../components/SocialPils.astro'
import Experiencia from '../components/Experiencia.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Proyectos from '../components/Proyectos.astro';
import Briefcase from '../icons/Briefcase.astro';
import Code from '../icons/Code.astro';
import Whatsapp from '../icons/Whatsapp.astro'
import Message from '../icons/Message.astro';
import Contacto from '../components/Contacto.astro';

---

<Layout 
	title="Porfolio de Aaron Acevedo - Desarrollador y programador web con 5 años de experiencia"
	description="Contrata a Aaron Acevedo para crear tu aplicación web o móvil. Desarrollador y programador web. Me especializo en dar soluciones a través de aplicaciones."
>
	<main class="px-4">
		<SectionContainer class="pt-24 lg:py-44 pb-24">
			<img 
				class="rounded-full size-24 mb-4"
				src="/foto_perfil.webp" 
				alt="aaron foto de perfil"
			/>
			<h1 class="text-white text-2xl md:text-4xl lg:text-5xl font-bold flex flex-col md:flex-row gap-x-4 pb-6 lg:pb-10">
				Hey, soy Aarón Acevedo
				<a 
					href="https://www.linkedin.com/in/aaronacevedo/"
					target="_blank"
					rel="noopener"
					class="flex md:justify-center items-center mt-2 md:mt-0"
				>
					<Badge>Disponible para ayudarte</Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
				<span>+5 años de experiencia. </span>

				<span 
					class="text-yellow-200/90"
				>
					Desarrollador web. </span>

				<span 
					class="text-red-200/90"
				>
					De Sevilla, España. </span>

				<span class="opacity-80">Me especializo en ofrecer soluciones mediante el desarrollo de aplicaciones.</span>
			</h2>

			<!-- Iconos -->
			<nav class="flex gap-4 mt-4 flex-wrap">
				<SocialPils href="https://www.linkedin.com/in/aaronacevedo/">
					<LinkedInIcon class="size-4 md:size-6" />
					LinkdeIn
				</SocialPils>

				<SocialPils href="mailto:correo@aaronacevedo94@gmail.com">
					<MailIcon class="size-4 md:size-6" />
					aaronacevedo94@gmail.com
				</SocialPils>

				<SocialPils href="https://wa.me/34600982742">
					<Whatsapp class="size-4 md:size-6" />
					Enviar mensaje
				</SocialPils>
			</nav>

		</SectionContainer>

		<!-- Experiencia -->
		<SectionContainer id="experiencia">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<Briefcase class="size-6" />
				Experiencia laboral
			</h2>
			<Experiencia />
		</SectionContainer>

		<!-- Proyectos -->
		<SectionContainer id="proyectos">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<Code class="size-6" />
				Proyectos
			</h2>
			<Proyectos></Proyectos>
		</SectionContainer>

		<!-- Proyectos -->
		<SectionContainer id="contacto">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<Message class="size-6" />
				Hablemos
			</h2>
			<Contacto></Contacto>
		</SectionContainer>

	</main>
</Layout>


