---
import Send from '../icons/Send.astro'
import LinkButton from './LinkButton.astro'

---

<section>
    <h3 class="text-2xl font-semibold text-yellow-200 mb-2">¡Escríbeme!</h3>
    <p class="mb-8 lg:mb-12 font-light text-lg text-white/80">
        Estoy aquí para colaborar y resolver cualquier duda.
    </p>
    <div class="px-4 mx-auto max-w-screen-md">
        <form 
            class="space-y-8 flex flex-col items-start" name="contact" 
            method="POST" 
            id="my-contact-form" 
            data-netlify="true"
        >
            <div class="w-full">
                <label for="email" class="block mb-2 text-sm font-medium text-sky-200/80">Correo electrónico</label>
                <input type="email" id="email" class="shadow-sm    text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 bg-white/10 border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500 shadow-sm-light" placeholder="correo@gmail.com" required>
            </div>
            <div class="w-full">
                <label for="subject" class="block mb-2 text-sm font-medium text-sky-200/80">
                    Asunto
                </label>
                <input type="text" id="subject" class="block p-3 w-full text-sm   rounded-lg  shadow-sm focus:ring-primary-500 focus:border-primary-500 bg-white/10 border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500 shadow-sm-light" placeholder="Dime en qué puedo ayudarte." required>
            </div>
            <div class="w-full sm:col-span-2">
                <label for="message" class="block mb-2 text-sm font-medium text-sky-200/80">
                    Mensaje
                </label>
                <textarea id="message" rows="6" class="block p-2.5 w-full text-sm   rounded-lg shadow-sm  focus:ring-primary-500 focus:border-primary-500 bg-white/10 border-gray-600 placeholder-gray-400 text-white/80 focus:ring-primary-500 focus:border-primary-500" placeholder="Si deseas, cuéntame más detalles sobre el tema."></textarea>
            </div>
            <button type="submit">
                <LinkButton>
                    <Send class="size-6"></Send>
                    Enviar
                </LinkButton>
            </button>
        </form>
    </div>
</section>